<form (ngSubmit)="onSubmit(aanvraagForm)" #aanvraagForm="ngForm">

    <div id="barkieCoinButtons" class="container mt-5 text-center">
    <div class="form-group col-lg-4 offset-lg-4">
        <label for="inputBedrag">Bedrag:</label>
        <input [(ngModel)]="formData.bedrag" 
                            type="number" 
                            name="bedrag" 
                            class="form-control" 
                            id="inputBedrag" 
                            value="1.00" 
                            required>
                  </div>
    </div>

    <div>
        <span id="cancelKoopButton" style="text-decoration-line: underline;">cancel</span>
        <button id="koopButton">BarkieCoins kopen</button>
    </div>
    
    <!-- <div>
        <span id="cancelSellButton" style="text-decoration-line: underline;">cancel</span>
        <button id="sellButton">BarkieCoins inwisselen</button>
    </div> -->
    <!-- </div> -->

</form>