<div class="nav-wedstrijd-details">
  <div class="container">
      <div class="row text-center justify-content-center">
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
              <a href="#">Statistieken</a>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
              <a href="#">Weddenschappen</a>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
              <a href="#">Teams</a>
          </div>
      </div>
  </div>
</div>