<header id="index-header">
  <ul class="nav justify-content-end">
      <li class="nav-item">
          <a class="nav-link" href="toevoegenWedstrijd.html">Toevoegen wedstrijd</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Wallet</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="registreer.html">Account</a>
      </li>
  </ul>

  <div id="title">
      barkie.
  </div>
</header>

<app-wedstrijd-list></app-wedstrijd-list>

<app-barkie-footer></app-barkie-footer>